<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview {{ filename }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="preview-container">
        <h1>Preview {{ filename }}</h1>
        {% if filename.endswith('.pdf') %}
            <iframe src="{{ file_url }}" width="100%" height="600px"></iframe>
        {% elif filename.endswith('.png') or filename.endswith('.jpg') or filename.endswith('.jpeg') %}
            <img src="{{ file_url }}" alt="Image Preview" class="preview-image">
        {% else %}
            <p>Cannot preview this file type.</p>
        {% endif %}
        <div class="buttons-container">
            <a href="{{ file_url }}" download="{{ filename }}" class="btn">Download {{ filename }}</a>
            <a href="{{ url_for('index') }}" class="btn">Back to File List</a>
        </div>
    </div>
</body>
</html>
